@import "../../vendor/bootstrap-sass/assets/stylesheets/bootstrap";

$background: #E2E2E2;

body{
  background-color: $background;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
header{
  @extend .container-fluid;
}
section#stage{
  @extend .container;
  height: 100%;
}
footer{
  @extend .container-fluid;
}